<div class="container-md border">
    <div class="row footer">
        <div class="col footer">
            @matahj
            <a class="btn btn-success btnfooter" target="_blank" href="https://github.com/matahj/ejemplosP5js"
                role="button">
                <i class="bi bi-github"></i>
            </a>
            <a class="btn btn-success btnfooter" target="_blank" href="https://twitter.com/matahj"
                role="button">
                <i class="bi bi-twitter"></i>
            </a>
        </div>
    </div>
</div>