body {
    background-color: #C6DAD8;
}

main {
    border: solid 3px;
    border-color: black;
    width: 526px;
    height: 326px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}
#interaccion{
    width: 526px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
}

[class*="col"] {
    padding: 1rm;
    background-color: #dce2da;
    border: 2px solid #fff;
    color: rgba(20, 22, 21, 0.561);
}

.navbar {
    background-color: #57A519;
}

.offcanvas-body {
    background-color: #57A519;
}

.offcnavas-width{
    width: 220px;
}

p.info {
    color: rgba(20, 22, 21, 0.561);
}

