body {
    background-color: #C6DAD8;
}

main {
    margin: 0px;
    border: solid 3px;
    border-color: black;
    padding: 0px;
    width: 600px;
    height: 370px;
}

[class*="col"] {
    padding: 1rm;
    background-color: #dce2da;
    border: 2px solid #fff;
    color: rgba(20, 22, 21, 0.561);
}

.navbar {
    background-color: #57A519;
}

.offcanvas-body {
    background-color: #57A519;
}

p.info {
    color: rgba(20, 22, 21, 0.561);
}