body {
    background-color: #C6DAD8;
}

main {
    border: solid 1px;
    border-color: black;
    width: 522px;
    height: 322px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

#interaccion {
    width: 522px;
    height: 40px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
}

[class*="col"] {
    padding: 1rm;
    background-color:#dce2da;
    border: 2px solid #dce2da;
    color: rgba(20, 22, 21, 0.561);
}

.navbar {
    background-color: #57A519;
}

.offcanvas-body {
    background-color: #57A519;
}

.offcnavas-width {
    width: 220px;
}

.footer {
    
    border: 0px;
    background-color: #57A519;
    color: #fff;
}

.btnfooter{
    background-color: #57A519;
}
