<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs'); %>

    <body>

        <!-- NAVBAR -->
        <%- include('../partials/navigation.ejs'); %>

            <div class="container-md border">

                <!-- CONTENIDO -->
                <div class="row align-items-start">
                    
                    <!-- CANVAS P5js -->
                    <div class="col-md-8 align-self-start">
                        <main>
                        </main>
                    </div>
                    
                    <!-- DESCRIPCIÓN -->
                    <div class="col-md-4 align-self-stretch">
                        <h5 id="titulo">404 not Found</h5>
                        <p id="descripcion">404 not Found</p>
                    </div>

                </div>

                <!-- FOOTER -->
                <%- include('../partials/footer.ejs'); %>

            </div>

            <!-- SCRIPTS -->
            <%- include('../partials/scripts.ejs'); %>

                <!-- Sketch 0 -->
                <script src="sk0/sketch.js"></script>

    </body>

</html>